
<div class="row ">
  <div class="col-sm-12 parallax" style="position:relative;min-height:800px;padding:0">
    <div class="parallax" style="position:absolute;margin:0;width:100%;min-height:700px;background-image:url(../../assets/images/cover.png);background-size:cover;filter:grayscale(0.5) brightness(0.5)"></div>
    <div class=" card text-center" style="position:absolute;height:500px;width: -webkit-fill-available;margin:3rem;background:transparent;padding-top:8rem">
      <div class="imageOuter" style="">
        <img src="../../assets/images/me1.png" alt="" class="img-fluid text-center" style="overflow:hidden;height:80px;width:80px;border-radius:50%">
      </div>
      <h1 class="text-center" style="color:white;letter-spacing:4px;">CHANDA ROY</h1>
      <h5 class="text-center" style="color:white;letter-spacing:7px;">WEB DEVELOPER</h5>
      <h6 class="text-center " style="color:white;letter-spacing:7px;padding:1rem;">Enthusiast, learner, coder, designer</h6>

    </div>
  </div>
</div>
<h4 class="text-center">SOME OF MY WORKS</h4>
<div class="row">
  <div class="col-sm-12 parallax" style="background-image:linear-gradient(pink,white)">
    <div class="row ">
      <div class="col-sm-4 gallery_item">
        <div class="card ">
          <div class="card-body">
            <h5 class="card-title">LIMBER</h5>
            <p class="card-text" title="An app for agile project managemen with features like, trello like project management (adding, removing team members), github integration, chat integration">An app for agile project managemen with features like, trello like project management...</p>
            <a href="https://github.com/ChandaRoy/limber" target="_blank" class="">Github</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 gallery_item">
        <div class="card ">
          <div class="card-body">
            <h5 class="card-title">My Chat App</h5>
            <p class="card-text">Users can login and chat.</p>
            <a href="https://github.com/ChandaRoy/mychatapp" class="" target="_blank">Github</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 gallery_item">
        <div class="card ">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 gallery_item">
        <div class="card ">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 gallery_item">
        <div class="card ">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 gallery_item">
        <div class="card ">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 gallery_item">
        <div class="card ">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 gallery_item">
        <div class="card ">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 gallery_item">
        <div class="card ">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>
</div>
<h3 class="text-center" style="letter-spacing:4px">Hobbies</h3>
<div class="row">
  <div class="col-sm-12 parallax align-middle" style="min-height:400px;background-image:url(../../assets/images/hobby.jpg)">
    <h1 class="float-right align-middle" style="letter-spacing:4px;margin-top:4rem">Singing</h1>
  </div>
  <div class="col-sm-12 parallax" style="min-height:400px;background-image:url(../../assets/images/sky.jpg)">
    <h1 class="text-center" style="letter-spacing:4px;margin-top:8rem;color:white;font-size:xxx-large">Sky Watching</h1>
  </div>
  <div class="col-sm-12 parallax" style="min-height:400px;background-image:url(../../assets/images/gardening.jpg)">
    <h1 class="text-center" style="background:#092b099e;letter-spacing:4px;margin-top:8rem;color:white;font-size:xx-large">Gardening</h1>
  </div>
</div>
<br><br>
